
*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.op{
    display: flex;
    flex-flow: column nowrap;

}
    .header{
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            align-items: center;
        }
            .logo{
                flex: 1 1 auto;
            }
            .logo a{
                color: rgb(42, 31, 196);
                font-size: 30px;
            }
            .logo a:hover{
                color:#000
            }

            .nav{
                flex: 3 1 auto; 
            }
            .nav a:hover{
                color: #000;
            }
            .social{
                color: #2a10ad;
                flex:  1 auto;  
            }
            .social a:hover{
                color: #000;
            }
        .texto{
            background: #6e72e4;
        }
            h1{
                background: #ffea85;
            }    
    .section{
        background: rgb(140, 183, 244);
        display: flex;

    }
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #ffffff;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside{
            background: #f73f52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #ffea85;
            }    
    .footer{
        background: rgb(248, 245, 245);
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #70a3c4;
            width: 300px;
        }
        
@media all and (max-width: 900px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 900px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 1000px){
    .aside{
        flex-direction: column;
    }
}