
*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.op{
    display: flex;
    flex-flow: column nowrap;

}
.margen-interno{
    padding: 0 50px;
}
    .header{
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            align-items: center;
        }
            .logo{
                flex: 1 1 auto;
            }
            .logo a{
                color: rgb(42, 31, 196);
                font-size: 30px;
            }
            .logo a:hover{
                color:#000
            }

            .nav{
                flex: 3 1 auto; 
            }
            .nav a:hover{
                color: #000;
            }
            .social{
                color: #2a10ad;
                flex:  1 auto;  
            }
            .social a:hover{
                color: #000;
            }
        .texto{
            background: #7b7eee;
        }
            h1{
                font-family: "Lora", serif;
                font-size: 21px;
                color: #000;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }    
    .section{
        background: rgb(140, 183, 244);
        display: flex;

    }
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #ffffff;
                flex: 1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                margin:10px 10px 0 0px;
                flex: 1 1 45%;
            }
            .article img{
                width: 100%;

            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px;
            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside{
            background: #fbf9f9;
            flex: 1 1 auto;
        }
        h4{
            background-color: rgb(48, 145, 242);
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
        .aside img{
            width: 100%;
        }
            .publicidad{
                background: #ffea85;
            }    
    .footer{
        background: rgb(37, 119, 240);
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #007cf7;
            width: 300px;
        
        }
        .pies{ 
            background-color: rgb(48, 145, 242);
            color: rgb(20, 19, 19);
            padding: 10px;
            text-transform: uppercase;

        }
        
@media all and (max-width: 900px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 900px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 1000px){
    .aside{
        flex-direction: column;
    }
}